.side-container {
  margin: 10px;
  overflow: auto;
  flex-grow: 1;
  display: flex;

  background-color: inherit;
}

#sidenav {
  width: 150px;
  overflow: hidden;
  background-color: inherit;
}

:host {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
}

.menu-item {
  padding: 10px 15px;
  list-style: none;
  margin: 0;
}

.menu-list {
  padding: 0;
  margin: 0;
  max-height: 75vh;
  background-color: #f2f2f2;
  overflow: auto;
}

.menu-list::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: rgba(0,0,0,0.43);
}

.menu-list::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.26);
}

.menu-item-font {
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  color: #797979;
}

.hline {
  margin: 0;
}

.content {
  margin: 20px;
}
